# ADVENT OF CODE - DAY 1 - Sonar sweep 
### Part 1

In [19]:
import numpy as np
import pandas as pd

In [20]:
depths = '01_input.txt'
data = np.loadtxt(depths)

In [21]:
np.count_nonzero(np.diff(data) > 0)

1400

In [22]:
len(data)

2000

### Part 2

In [23]:
# calculating moving average
df = pd.DataFrame(data, columns=['val'])
df_ma = df.rolling(3).sum()
df_ma

          val
0         NaN
1         NaN
2       483.0
3       504.0
4       519.0
...       ...
1995  16745.0
1996  16795.0
1997  16828.0
1998  16853.0
1999  16874.0

[2000 rows x 1 columns]

In [24]:
(df_ma.val.diff() > 0).sum()

1429

In [25]:
test_array = [199, 200, 208, 210, 200, 207, 240, 269, 260, 263]

In [26]:
test_df = pd.DataFrame(test_array)
test_df_ma = test_df.rolling(3).sum()
test_df_ma

       0
0    NaN
1    NaN
2  607.0
3  618.0
4  618.0
5  617.0
6  647.0
7  716.0
8  769.0
9  792.0

In [27]:
diffs = test_df_ma.diff()
m = test_df_ma.assign(
    change = np.where(
        diffs > 0, 'increase', np.where(
            diffs < 0, 'decline', 'same'
        )
    )
)

In [28]:
m['change'].value_counts()

increase    5
same        4
decline     1
Name: change, dtype: int64