# ADVENT OF CODE - DAY 2 - Dive
### Part 1

forward X increases the horizontal position by X units.
down X increases the depth by X units.
up X decreases the depth by X units.
Note that since you're on a submarine, down and up affect your depth, and so they have the opposite result of what you might expect.

The submarine seems to already have a planned course (your puzzle input). You should probably figure out where it's going.

In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = '02_input.txt'
directions = np.loadtxt(filename, dtype= str)

In [3]:
df = pd.DataFrame(directions)
df.columns=['direction', 'value']
df

    direction value
0     forward     4
1        down     9
2     forward     6
3        down     5
4          up     2
..        ...   ...
995   forward     6
996   forward     6
997        up     2
998      down     8
999   forward     5

[1000 rows x 2 columns]

In [4]:
df['value'] = df['value'].astype(float)
df.dtypes

direction     object
value        float64
dtype: object

In [5]:
df_F = df.groupby('direction')
df_S = df_F.sum()

In [6]:
result = df_S.transpose().iloc[0]
result

direction
down       1964.0
forward    1905.0
up         1057.0
Name: value, dtype: float64

In [28]:
(result.down - result.up) * result.forward

1727835.0

In [29]:
df_S.transpose().eval('(down-up)*forward')

value    1727835.0
dtype: float64

### Part 2

In addition to horizontal position and depth, you'll also need to track a third value, aim, which also starts at 0. The commands also mean something entirely different than you first thought:

down X increases your aim by X units.
up X decreases your aim by X units.
forward X does two things:
It increases your horizontal position by X units.
It increases your depth by your aim multiplied by X.
Again note that since you're on a submarine, down and up do the opposite of what you might expect: "down" means aiming in the positive direction.

Using this new interpretation of the commands, calculate the horizontal position and depth you would have after following the planned course. What do you get if you multiply your final horizontal position by your final depth?

In [10]:
dirvec = df.direction.values
valvec = df.value.values

In [11]:
testdata = [['forward', 5], ['down', 5], ['forward', 8], ['up', 3], ['down', 8], ['forward', 2]]
testdf = pd.DataFrame(testdata, columns = ['direction', 'value'])
testdf['aim'] = ''
testdf

  direction  value aim
0   forward      5
1      down      5
2   forward      8
3        up      3
4      down      8
5   forward      2

In [12]:
tdirvec = testdf.direction.values
tvalvec = testdf.value.values

In [13]:
aim_array = []
aim = 0
for idx, row in testdf.iterrows():
    if row.direction == 'forward':
        pass
    elif row.direction == 'up':
        aim = aim - row.value
    else: 
        aim = aim + row.value

    aim_array.append(aim)

In [14]:
aim_array

[0, 5, 5, 2, 10, 10]

In [15]:
testdf['aim'] = aim_array

In [16]:
depth_array = []
depth = 0
for idx, row in testdf.iterrows():
    if row.direction == 'forward':
        depth = depth + row.value * row.aim
    else: 
        pass

    depth_array.append(depth)

depth_array

[0, 0, 40, 40, 40, 60]

In [17]:
forward_array = []
forward = 0
for idx, row in testdf.iterrows():
    if row.direction == 'forward':
        forward += row.value
    else:
        pass

    forward_array.append(forward)

forward_array

[5, 5, 13, 13, 13, 15]

In [18]:
testdf['depth'] = depth_array
testdf['forward'] = forward_array
testdf

  direction  value  aim  depth  forward
0   forward      5    0      0        5
1      down      5    5      0        5
2   forward      8    5     40       13
3        up      3    2     40       13
4      down      8   10     40       13
5   forward      2   10     60       15

In [19]:
testdf.forward[5]*testdf.depth[5]

900

real data

In [20]:
aim_array = []
aim = 0
for idx, row in df.iterrows():
    if row.direction == 'forward':
        pass
    elif row.direction == 'up':
        aim = aim - row.value
    else: 
        aim = aim + row.value

    aim_array.append(aim)
    
df['aim'] = aim_array

In [21]:
depth_array = []
depth = 0
for idx, row in df.iterrows():
    if row.direction == 'forward':
        depth = depth + row.value * row.aim
    else: 
        pass

    depth_array.append(depth)

df['depth'] = depth_array

In [22]:
forward_array = []
forward = 0
for idx, row in df.iterrows():
    if row.direction == 'forward':
        forward += row.value
    else:
        pass

    forward_array.append(forward)

df['forward'] = forward_array

In [23]:
df.forward[999]*df.depth[999]

1544000595.0

In [24]:
df.forward.values[-1]*df.forward.values[-1]

3629025.0

In [25]:
#get last row
row = df.iloc[-1]
row.depth * row.forward

1544000595.0