--- Part Two ---
Considering every single measurement isn't as useful as you expected: there's just too much noise in the data.

Instead, consider sums of a three-measurement sliding window. Again considering the above example:

199  A      
200  A B    
208  A B C  
210    B C D
200  E   C D
207  E F   D
240  E F G  
269    F G H
260      G H
263        H
Start by comparing the first and second three-measurement windows. The measurements in the first window are marked A (199, 200, 208); their sum is 199 + 200 + 208 = 607. The second window is marked B (200, 208, 210); its sum is 618. The sum of measurements in the second window is larger than the sum of the first, so this first comparison increased.

Your goal now is to count the number of times the sum of measurements in this sliding window increases from the previous sum. So, compare A with B, then compare B with C, then C with D, and so on. Stop when there aren't enough measurements left to create a new three-measurement sum.

In the above example, the sum of each three-measurement window is as follows:

A: 607 (N/A - no previous sum)
B: 618 (increased)
C: 618 (no change)
D: 617 (decreased)
E: 647 (increased)
F: 716 (increased)
G: 769 (increased)
H: 792 (increased)
In this example, there are 5 sums that are larger than the previous sum.

Consider sums of a three-measurement sliding window. How many sums are larger than the previous sum?

In [4]:
import numpy as np
depths = '01a_input.txt'
data = np.loadtxt(depths)

In [5]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.3.4-cp39-cp39-win32.whl (9.0 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\nezaa\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\nezaa\appdata\roaming\python\python39\site-packages (from pandas) (1.21.4)
Requirement already satisfied: six>=1.5 in c:\users\nezaa\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.4 pytz-2021.3
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Program Files (x86)\Python39-32\python.exe -m pip install --upgrade pip' command.

In [8]:
import pandas as pd

update python

In [10]:
pip install pip -U

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\program files (x86)\python39-32\lib\site-packages (21.1.3)
Collecting pip
  Using cached pip-21.3.1-py3-none-any.whl (1.7 MB)
Installing collected packages: pip
Successfully installed pip-21.3.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts pip.exe, pip3.9.exe and pip3.exe are installed in 'C:\Users\nezaa\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.1.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Program Files (x86)\Python39-32\python.exe -m pip install --upgrade pip' command.

calculating MOVING / ROLLING AVERAGE

In [52]:
df = pd.DataFrame(data, columns=['val'])
df_ma = df.rolling(3).sum()
df_ma

          val
0         NaN
1         NaN
2       483.0
3       504.0
4       519.0
...       ...
1995  16745.0
1996  16795.0
1997  16828.0
1998  16853.0
1999  16874.0

[2000 rows x 1 columns]

In [58]:
(df_ma.val.diff() > 0).sum()

1429

In [23]:
test_array = [199, 200, 208, 210, 200, 207, 240, 269, 260, 263]

In [24]:
test_df=pd.DataFrame(test_array)
test_df_ma=test_df.rolling(3).sum()
test_df_ma

       0
0    NaN
1    NaN
2  607.0
3  618.0
4  618.0
5  617.0
6  647.0
7  716.0
8  769.0
9  792.0

In [45]:
diffs = test_df_ma.diff()
m= test_df_ma.assign(
    change=np.where(
        diffs > 0, 'increase', np.where(
            diffs < 0, 'declinee', '----'
        )
    )
)

In [49]:
m['change'].value_counts()

increase    5
----        4
declinee    1
Name: change, dtype: int64