## Day 2: Dive!

Now, you need to figure out how to pilot this thing.

It seems like the submarine can take a series of commands like forward 1, down 2, or up 3:

forward X increases the horizontal position by X units.
down X increases the depth by X units.
up X decreases the depth by X units.
Note that since you're on a submarine, down and up affect your depth, and so they have the opposite result of what you might expect.

The submarine seems to already have a planned course (your puzzle input). You should probably figure out where it's going. For example:

forward 5
down 5
forward 8
up 3
down 8
forward 2
Your horizontal position and depth both start at 0. The steps above would then modify them as follows:

forward 5 adds 5 to your horizontal position, a total of 5.
down 5 adds 5 to your depth, resulting in a value of 5.
forward 8 adds 8 to your horizontal position, a total of 13.
up 3 decreases your depth by 3, resulting in a value of 2.
down 8 adds 8 to your depth, resulting in a value of 10.
forward 2 adds 2 to your horizontal position, a total of 15.
After following these instructions, you would have a horizontal position of 15 and a depth of 10. (Multiplying these together produces 150.)

Calculate the horizontal position and depth you would have after following the planned course. What do you get if you multiply your final horizontal position by your final depth?

### step 1: packages

In [1]:
import numpy as np
import pandas as pd

### step 2: import data

In [4]:
filename = '02_input.txt'
directions = np.loadtxt(filename, dtype= str)

### step 3: make a dataframe

In [12]:
df = pd.DataFrame(directions)
df.columns=['direction', 'value']
df

    direction value
0     forward     4
1        down     9
2     forward     6
3        down     5
4          up     2
..        ...   ...
995   forward     6
996   forward     6
997        up     2
998      down     8
999   forward     5

[1000 rows x 2 columns]

! check column type, if str, change to float

In [21]:
df['value'] = df['value'].astype(float)
df.dtypes

direction     object
value        float64
dtype: object

### step 4: count values

In [24]:
df_F = df.groupby('direction')
df_S = df_F.sum()

In [38]:
df_S

            value
direction
down       1964.0
forward    1905.0
up         1057.0

In [44]:
result = df_S.transpose().iloc[0]
result

direction
down       1964.0
forward    1905.0
up         1057.0
Name: value, dtype: float64

In [45]:
(result.down - result.up) * result.forward

1727835.0

In [49]:
df_S.transpose().eval('(down-up)*forward')

value    1727835.0
dtype: float64

In [39]:
(1964-1057)*1905

1727835

non related random crap

- count unique values in column

In [ ]:
df.direction.nunique()

# Part Two
Based on your calculations, the planned course doesn't seem to make any sense. You find the submarine manual and discover that the process is actually slightly more complicated.

In addition to horizontal position and depth, you'll also need to track a third value, aim, which also starts at 0. The commands also mean something entirely different than you first thought:

down X increases your aim by X units.
up X decreases your aim by X units.
forward X does two things:
It increases your horizontal position by X units.
It increases your depth by your aim multiplied by X.
Again note that since you're on a submarine, down and up do the opposite of what you might expect: "down" means aiming in the positive direction.

Now, the above example does something different:

forward 5 adds 5 to your horizontal position, a total of 5. Because your aim is 0, your depth does not change.
down 5 adds 5 to your aim, resulting in a value of 5.
forward 8 adds 8 to your horizontal position, a total of 13. Because your aim is 5, your depth increases by 8*5=40.
up 3 decreases your aim by 3, resulting in a value of 2.
down 8 adds 8 to your aim, resulting in a value of 10.
forward 2 adds 2 to your horizontal position, a total of 15. Because your aim is 10, your depth increases by 2*10=20 to a total of 60.
After following these new instructions, you would have a horizontal position of 15 and a depth of 60. (Multiplying these produces 900.)

Using this new interpretation of the commands, calculate the horizontal position and depth you would have after following the planned course. What do you get if you multiply your final horizontal position by your final depth?

In [40]:
df

    direction  value
0     forward    4.0
1        down    9.0
2     forward    6.0
3        down    5.0
4          up    2.0
..        ...    ...
995   forward    6.0
996   forward    6.0
997        up    2.0
998      down    8.0
999   forward    5.0

[1000 rows x 2 columns]

In [53]:
dirvec = df.direction.values
valvec = df.value.values

ok too complicated to do it right away, let's try with test dataset

In [57]:
testdata = [['forward', 5], ['down', 5], ['forward', 8], ['up', 3], ['down', 8], ['forward', 2]]
testdf = pd.DataFrame(testdata, columns = ['direction', 'value'])
testdf['aim'] = ''
testdf

  direction  value aim
0   forward      5
1      down      5
2   forward      8
3        up      3
4      down      8
5   forward      2

In [59]:
tdirvec = testdf.direction.values
tvalvec = testdf.value.values

In [63]:
aim_array = []
aim = 0
for idx, row in testdf.iterrows():
    if row.direction == 'forward':
        pass
    elif row.direction == 'up':
        aim = aim - row.value
    else: 
        aim = aim + row.value

    aim_array.append(aim)

In [64]:
aim_array

[0, 5, 5, 2, 10, 10]

In [65]:
testdf['aim'] = aim_array

In [66]:
testdf

  direction  value  aim
0   forward      5    0
1      down      5    5
2   forward      8    5
3        up      3    2
4      down      8   10
5   forward      2   10

In [67]:
depth_array = []
depth = 0
for idx, row in testdf.iterrows():
    if row.direction == 'forward':
        depth = depth + row.value * row.aim
    else: 
        pass

    depth_array.append(depth)

depth_array

[0, 0, 40, 40, 40, 60]

In [69]:
forward_array = []
forward = 0
for idx, row in testdf.iterrows():
    if row.direction == 'forward':
        forward += row.value
    else:
        pass

    forward_array.append(forward)

forward_array

[5, 5, 13, 13, 13, 15]

In [74]:
testdf['depth'] = depth_array
testdf['forward'] = forward_array
testdf

  direction  value  aim  depth  forward
0   forward      5    0      0        5
1      down      5    5      0        5
2   forward      8    5     40       13
3        up      3    2     40       13
4      down      8   10     40       13
5   forward      2   10     60       15

In [78]:
testdf.forward[5]*testdf.depth[5]

900

NOW LET'S SOLVE IT WITH REAL DATA

In [79]:
aim_array = []
aim = 0
for idx, row in df.iterrows():
    if row.direction == 'forward':
        pass
    elif row.direction == 'up':
        aim = aim - row.value
    else: 
        aim = aim + row.value

    aim_array.append(aim)
    
df['aim'] = aim_array

In [80]:
depth_array = []
depth = 0
for idx, row in df.iterrows():
    if row.direction == 'forward':
        depth = depth + row.value * row.aim
    else: 
        pass

    depth_array.append(depth)

df['depth'] = depth_array

In [81]:
forward_array = []
forward = 0
for idx, row in df.iterrows():
    if row.direction == 'forward':
        forward += row.value
    else:
        pass

    forward_array.append(forward)

df['forward'] = forward_array

In [82]:
df

    direction  value    aim     depth  forward
0     forward    4.0    0.0       0.0      4.0
1        down    9.0    9.0       0.0      4.0
2     forward    6.0    9.0      54.0     10.0
3        down    5.0   14.0      54.0     10.0
4          up    2.0   12.0      54.0     10.0
..        ...    ...    ...       ...      ...
995   forward    6.0  901.0  800558.0   1894.0
996   forward    6.0  901.0  805964.0   1900.0
997        up    2.0  899.0  805964.0   1900.0
998      down    8.0  907.0  805964.0   1900.0
999   forward    5.0  907.0  810499.0   1905.0

[1000 rows x 5 columns]

In [83]:
df.forward[999]*df.depth[999]

1544000595.0

In [1]:
df.forward.values[-1]*df.forward.values[-1]

NameError: name 'df' is not defined

In [ ]:
#get last row
row = df.iloc[-1]
row.depth * row.forward