# AOC - Day one

In [9]:
import numpy as np

In [10]:
# import data
# filename = '01_test.txt'
filename = '01_data.txt'
data = open(filename).read()

In [11]:
# define data process function
def process(data):
    data = [np.array(d.split('\n'), dtype=int) for d in data.split('\n\n')]
    return data

data = process(data)

### Part 1

In [12]:
# list comprehension for sum of 
cal_sum = np.array([np.sum(d) for d in data])
cal_sum

array([36892, 49932, 56251, 25796, 20937, 54432, 51250, 45371, 58484,
       51796, 54378, 49130, 37414, 55961, 56785, 47661, 34403, 38211,
       47458, 18094, 59828, 52554, 52928, 39832, 53636, 37697, 39830,
       40575, 45425, 46728, 58627, 63310, 30570, 44742, 34998, 41761,
       60603, 39217, 43980, 52868, 44575, 44911, 40716, 55158, 39201,
       51988, 27115, 59939, 52118, 22759, 41028,  1880, 50422, 59337,
       29702, 48248, 33005, 55050, 42460,  1466, 24116, 56437, 38537,
       41865, 39262, 39941, 63998, 54702, 36547, 57771, 43666, 50228,
       29339, 54178, 41556, 54467, 50747, 63125, 45042, 53012, 49826,
       51746, 46795, 61654, 47090, 53946, 40158, 47638, 48186, 41324,
       39063, 54360, 46787, 53685, 54897, 37916, 59736, 29319, 53819,
       40027, 65480, 11606, 53201, 40089, 55116, 30385, 31497, 26009,
       56685, 32017, 58718, 51782, 68293, 57551, 37295, 58002, 43194,
       44783, 41637, 49110, 54216, 43162, 45858, 45796, 38766, 53676,
       56815, 46858, 53943, 47454, 56562, 52249, 19825, 41820, 49451,
       59150, 50844, 51365, 32765, 48460, 62441, 38912, 68501, 48559,
       35365, 20303, 34589, 29868, 36785, 10679, 50726, 55088, 53675,
       52821, 53328, 46013, 43212, 42609, 37129, 43755, 47412, 60715,
       51628, 53404, 50732, 44734, 43525, 20207, 62995, 44383, 45594,
       50416, 48826, 55100, 37459, 49302, 19691, 69310, 52418, 53360,
       52373, 45688, 47598, 22191, 60452, 24453, 35635, 33271, 52064,
       50653, 52530, 55568, 54895, 43355, 45682, 59796, 32010, 22407,
       52792, 49289, 61460, 60131, 29469, 59882, 50800, 48741, 40896,
       34738, 32877, 64548, 38374, 46696, 56112, 46879, 55186, 46459,
       55716,  8736, 33995, 38109, 57121, 35675, 57466, 57566, 47744,
       50869, 56364, 57229, 20318, 42993, 28770, 39303, 38810, 55200,
       48081, 44264, 54863, 52663, 56464, 62161, 48916, 27081, 38536,
        5379, 55922, 36759, 40272, 52590, 49098])

In [13]:
# find max value
result1 = cal_sum[np.argmax(cal_sum)]
result1

69310

### Part 2

In [14]:
# sort list in descending order, choose first three elements, calculate sum
result2 = sum(np.sort(cal_sum)[::-1][0:3])
result2

206104